/* You can add global styles to this file, and also import other style files */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

h1 {
  font-size: 30px;
  margin: 0;
}

button {
  font-size: 30px;
  margin: 20px;
}
